# keep repo clean
*~
*.swp
.*~
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.android
.aws
.bash_history
.bliss
.bundle
.cache
.config
.cpan
.cpanidx
.cpanm
.cpanplus
.cups
.datadog-agent
.docker
.dropbox
.dropbox-master
.dvdcss
.erlang.cookie
.freac
.gem
.hgrc
.homebrew
.htoprc
.joe_state
.john
.keepassx
.lesshst
.local
.modulemaker
.node-gyp
.node_repl_history
.npm
.oracle_jre_usage
.perlbrew
.rbenv
.rnd
.serverless
.serverlessrc
.smartcd
.spyder2
.ssh
.subversion
.vim
.viminfo
.wireshark
bugreport.txt
Applications
Bin
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Perl
Pictures
Project
Public
Source
Tools
VirtualBox VMs
go
