# my (chris.kirke@gmail.com) .inputrc
set completion-ignore-case on
set completion-query-items 32
set editing-mode vi

# vi settings
$if mode=vi
    # normal mode
    set keymap vi-command
    # insert mode
    set keymap vi-insert
    Control-p: previous-history
$endif
